:root {
    /* ------------------------------------------color------------------------------------------ */
    --primary: #666666;
    --secondary: #2C49FE;
    --null: #01C8FF;






    /* -----------------------------------------font-size------------------------------------------------- */
    --fs-48: 48px;
    --fs-16: 16px;
    --fs-12: 12px;
}